body
{
  background-color: #e0876a;
}
form
{
  display: none;
  max-width: 400px;
  padding: 20px 40px;
  background: #fff;
  height: auto;
  margin: auto;
  display: block;
  background-color:#f4a688 ;
}
h1
{
  background-color: #e0876a;
}
.data
{
  font-weight: bolder;
  background-color: #f9ccac;
  color: #000000;
}
div.insthead
{
  padding:10%;
  border: #e0876a solid;
  height: 75px;
  width: 175px;
}
input.inptxt
{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color:#f4a688 ;
  padding: 2px;
  border-radius: 10px;
}
.inptxt
{
  background-color:##e0876a #fff2df;
}
.inptxt:active
{
  background-color: #e0876a;
  border-radius: 0px
}
.inptxt:hover
{
  background-color:#fbefcc;
}
.btn
 {
  background-color: #e0876a; 
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn:hover
{
  background-color:#f9ccac;
  border-radius: 50%;
}
.btn:active
{
  background-color:#e0876a;
  border-radius: 60%;
}
.choose
{
  background-color: #e0876a;
  width:100%;
}
input:focus
{
  outline: none;
}